[2019-05-10 19:10] pzmarzly opened #1 "Implement common non-raw-mode keyboard shortcuts"
In other REPLs `Ctrl+D` closes REPL if buffer is empty. Also, `Ctrl+Z` can be used to send it to background (via `SIGTSTP`). I noticed you are putting the terminal in raw mode, I'm not sure if it is necessary (do other REPLs do that, too?). Isn't there any other way to get Up and Down keypresses? Just asking, I genuinely don't know.

[2019-05-10 19:19] pzmarzly opened #2 "Remember :commands in history"
Right now commands are added to history in `parse_second_order`, so commands like `:show`, `::ls` etc. are left out (cannot be repeated by `Up`->`Enter`). It would be nice to be able to have them in history (by having `self.history.push(self.buffer.drain(..).collect());` in `parse`). In case someone doesn't like that design, it could be a toggle-able option - but then we run into another issue: wh

[2019-05-10 19:27] sigmaSd commented on #2
Hi, first of all thanks for opening these issues, these are my first ever xD
Back to the topic, indded this was a design choice to leave out non rust code, but I really like your idea I'll probably use `dirs` crate and use `config_dir()` that should solve the problem

[2019-05-10 19:48] sigmaSd commented on #1
1- So is it as simple as chaning `ctrl+C` to `ctrl+D` or I'm missing something
2- for Ctrl+Z I'll check it out but my main concern is how hard is it to mimic the same behavior on windows
3- for raw mode is there a disadvantage on using it?, the problem without using it the terminal will immediately print the keys for example arrow keys will be printed immediately like `^[[D`

[2019-05-10 20:09] pzmarzly commented on #1
I have no idea how other REPLs do it, but when I e.g. open `python3` in terminal, it doesn't print weird characters, yet Ctrl+Z works. But unless you manage to find some "proper" way (my google-fu is not enough to quickly find anything), I'm fine with leaving raw mode and adding:

- `Ctrl+D` as `if self.buffer.empty() { self.exit()?; }`
- Unix-only `Ctrl+Z` as `nix::sys::signal::kill(nix::unistd::

[2019-05-10 22:29] sigmaSd commented on #1
Thanks a lot for the suggestions!
Feel free to open PRs btw
fixed in https://github.com/sigmaSd/IRust/commit/20cda4ce376cbb00f1ea66e34921a67437a85b69

[2019-05-10 22:30] #1 closed

[2019-05-10 22:47] pzmarzly commented on #1
I will in a second, especially since what you've done is not exactly what I had in mind (though I don't mean any offence, it's still awesome that you replied that fast)

[2019-05-10 23:22] pzmarzly commented on #2
I agree on the idea of using `config_dir()`. I think you could use `toml` - here's some [code](https://github.com/pzmarzly/x11-input-mirror/blob/261dac624f093ce1c0fed9915a68a7f6d3f8f65e/src/config.rs#L36-L42) I wrote quite some time ago that uses it (of course you don't need any macro, irust will have 1 config file for now). I'll leave the decision and implementing it to you.

[2019-05-10 23:37] sigmaSd commented on #2
Done https://github.com/sigmaSd/IRust/commit/d79163fff31efd2f998f1591950aef9bcae82314
@pzmarzly  Wanna review it? :)

[2019-05-11 10:52] pzmarzly commented on #2
Sure, see #5 .

[2019-05-11 11:06] pzmarzly commented on #2
Now that #5 is merged, all that's left is to mention the config file somewhere in README and to my mind this issue could then be closed.

[2019-05-11 12:11] sigmaSd commented on #2
Ok Ill add it as soon as I can (tomorrow probably), thanks a lot for your work

[2019-05-12 10:02] sigmaSd commented on #2
should be good now https://github.com/sigmaSd/IRust/commit/51ef8a96fecbcb383680e8cb5815ec60c64171a1

[2019-05-12 10:02] #2 closed

[2019-05-12 11:49] pzmarzly opened #6 "Published crate contains unnecessary files"
[code]

Consider using (and commiting) gitignore

[2019-05-12 13:45] sigmaSd commented on #6
Didn't know that's how `--allow-dirty` works, thanks for pointing it out fixed in https://github.com/sigmaSd/IRust/commit/169302afdf5914809183fa9a6e9a7cd96f3b3b93

[2019-05-12 13:55] sigmaSd commented on #6
EDIT: https://github.com/sigmaSd/IRust/commit/9d4def656e9da4ea95ea019ae52e0a76a673cca2
Is it correct?

[2019-05-12 14:02] pzmarzly commented on #6
I think it should be fine now

[2019-05-12 14:02] #6 closed

[2019-05-12 16:26] pzmarzly opened #8 "Warn when expression contains = but not ;"
[code]

This behavior may be surprising sometimes. I'm not sure what the right way to improve it is, but my suggestion is printing a warning between In: and Out: about it whenever someone writes a line with = but not ;

[2019-05-12 16:59] sigmaSd commented on #8
I like the idea!, I implemented it but there are cases when you get an ugly messages like
[code]

I think there are steps we need to do before doing this,

1- format output, At first I liked the separation of concerns by making `parse()` returns a string that is printed by `handle_enter()`, but now I feel its really limiting, since I'm printing all kind of output the same way, instead of being abl

[2019-05-12 21:52] sigmaSd commented on #8
- [x] format rustc errors https://github.com/sigmaSd/IRust/commit/ba06cf794e80b73ee93e94a027e23504c0479a3b

[2019-05-12 22:36] sigmaSd commented on #8
@pzmarzly here is a PR for this issue, https://github.com/sigmaSd/IRust/pull/9, would be great if you check it out

[2019-05-13 22:42] sigmaSd commented on #8
should be good now https://github.com/sigmaSd/IRust/commit/c288e4f79d8332ee9fd1a91599b34b2df77c8cef

[2019-05-13 23:32] sigmaSd opened #10 "Make the colors configurable"
example config can be like:
[code]

[2019-05-15 23:58] sigmaSd commented on #10
https://github.com/sigmaSd/IRust/commit/ab445ebc6c2f149623deaaea994fdbdae6757945

[2019-05-15 23:58] #10 closed

[2019-05-15 23:59] #8 closed

[2019-05-22 19:19] pzmarzly opened #12 "Racer should not autocomplete `::command`s"
Right now Racer autocompletes `::commands` as if they were Rust expression (`::` is namespace root). Meanwhile, IRust uses them as bash commands. In the screenshot below, I'm trying to write `::ls`:

![Screenshot from 2019-05-22 21-19-01](https://user-images.githubusercontent.com/8074163/58202232-3fb2b500-7cd7-11e9-86de-f5b5b1a921f0.png)

[2019-05-22 19:28] pzmarzly opened #13 "Key END should behave like right arrow for autocompletion"
Pressing `End` should accept current suggestion, like `->` key does

[2019-05-22 19:33] pzmarzly opened #14 "Navigating long lines using Ctrl+Left, Ctrl+Right"
It is useful to jump over whole words. I think it could be implemented like this:

When hitting `Ctrl+Left`:
- if character left to the cursor is a letter, skip to first non-letter left to the cursor
- if character left to the cursor is not a latter, skip to first letter left to the cursor

In case of `Ctrl+Right`, everything is the same but `s/left/right`. I'm not sure if this is how it's done in

[2019-05-22 19:38] pzmarzly opened #16 "Line overflows incorrectly"
This is how IRust looks with `std::process::Command::new("").output().unwrap_err().description().to_string()` when it ran out of terminal space:

![Screenshot from 2019-05-22 21-35-00](https://user-images.githubusercontent.com/8074163/58203175-d3858080-7cd9-11e9-9493-f07755ef70f6.png)

The `g(` part was lost somewhere (it is in the buffer, but not displayed), old autocompletion is still here, new

[2019-05-22 20:31] sigmaSd commented on #12
https://github.com/sigmaSd/IRust/commit/6c2f4e3dbe6ebdf0ef545bc5ca3517c70f06fc81
Now racer completes IRust commands and ignores shell commands
Thanks a lot as usual !

[2019-05-22 20:31] #12 closed

[2019-05-22 20:37] pzmarzly commented on #12
I think you wanted to name the function `write_suggestion`, not `write_sggestion`. :)

[2019-05-22 20:43] sigmaSd commented on #12
yep xD

[2019-05-22 21:55] sigmaSd commented on #13
https://github.com/sigmaSd/IRust/commit/6195c248925dddb457cdd12a282e08350be8496c

[2019-05-22 21:55] #13 closed

[2019-05-23 10:11] pzmarzly opened #18 "Add debounce to racer calls"
`Ctrl+V` takes some time, as every character retriggers `racer`. It'd be nice to have it running in a separate (maybe cancel-able) thread.

[2019-05-23 10:46] sigmaSd commented on #18
yeah I noticed it, I think the best idea is to add debouncing, hopefully its not that hard :)

[2019-05-23 17:22] sigmaSd commented on #18
@pzmarzly would be great if you test out https://github.com/sigmaSd/IRust/commit/55a00e3b31a1cad5355083e5268a875168aee405

[2019-05-23 20:39] pzmarzly commented on #18
Well, it is fast now, though autocomplete does not trigger after pasting (as due to synchronous nature of the event loop, it doesn't know if a character is the last one). I don't think it's that much of an issue, and changing that would require major changes to IRust. I'm fine with current state.

[2019-05-23 21:55] sigmaSd commented on #18
Auto complete doesn't trigger after pasting cause I'm not using a real debouncer.
A real debouncer triggers the function after timer expires, something like this
[code]
Then call `start()` at the begining of the program so it checks the timer all the time to know when it should trigger the callback
But Its not easy to implement I would need some guidance to make it work

[2019-05-23 21:58] sigmaSd commented on #18
But I'm also satisfied with current result so we I think we should just leave this for the future^^

[2019-05-23 23:25] sigmaSd commented on #14
Currently https://github.com/TimonPost/crossterm doesn't expose those keys, I forked it and made a simple hack, basicly consider ctrl +arrow, alt+arrow, shift +arrow the same, so I can implement this, https://github.com/sigmaSd/IRust/tree/ctrlarrow What do you think should I use this on master?

[2019-05-24 20:10] pzmarzly commented on #14
In my opinion you should open an issue at crossterm, but for now go with your fork. I think you can filter ctrl+arrow by checking whole CSI sequence - as explained [here](https://docs.microsoft.com/en-us/windows/console/console-virtual-terminal-sequences#input-sequences), you can match line `ESC [ 1 ; 5 D` for Ctrl+Left instead of just matching `ESC [ ... D` like the code is doing now.

[2019-05-26 14:10] sigmaSd commented on #16
@pzmarzly Would be great if you checkout master version, this updates needs a lot of testing.

[2019-05-26 14:13] sigmaSd commented on #14
Thanks a lot for the infos!, I filed a PR as you suggested.
Unfortunately I cant publish IRust with a git dependency, so for now `Ctrl` key will be hidden in the published version.

[2019-05-26 14:13] #18 closed

[2019-05-26 18:34] pzmarzly commented on #16
After text is removed, line counter is not decreased. For example, here I wrote 2 lines, went to the start, removed some text and hit End:

![Screenshot from 2019-05-26 20-32-01](https://user-images.githubusercontent.com/8074163/58385749-79e0c700-7ff5-11e9-9dc2-db5f1a0b90a8.png)

It behaves like there are still 2 lines.

Then there are also times when Racer no longer triggers in second line, but t

[2019-05-26 21:29] sigmaSd commented on #16
@pzmarzly nice catch! hopefully its better now https://github.com/sigmaSd/IRust/commit/5ef460af092f42f61077d1789cc644b87b42a462

[2019-05-30 17:29] sigmaSd commented on #16
Should be good now. Feel free to reopen in case of more overlooked issues

[2019-05-30 17:29] #16 closed

[2019-05-30 17:30] sigmaSd commented on #14
Implemented on maser will merge to the published version once crossterm adds the PR

[2019-05-30 17:30] #14 closed

[2019-06-03 18:07] pzmarzly opened #23 "Suggestions are non-deterministic"
Hitting `a` -> `Backspace`:

![deepin-screen-recorder_xfce4-terminal_20190603200530](https://user-images.githubusercontent.com/8074163/58823905-17ae4480-863b-11e9-83cd-fddeec96c644.gif)

[2019-06-03 18:23] sigmaSd commented on #23
Do we want to fix that, hitting tab give you all the sugesstions anyway, what do you think ?

[2019-06-03 18:28] sigmaSd commented on #23
And btw its not really undeterministic, its just that writing sugesstion uses racer.next_sugesstion fn which changes the current suggestion, I guess I can lock it but Im not sure it really matters

[2019-06-03 18:28] pzmarzly commented on #23
I don't think it's important, but if all that needs to be done is to sort Racer suggestions at some point, or reset some counter, then maybe you could quickly fix it.

[2019-06-04 00:11] sigmaSd commented on #23
Well I spent time on this, its not easy there are a lot of race conditions between de-bouncer and main-thread, I need a new design to fix the root issue

[2019-06-04 11:35] sigmaSd commented on #23
Would you test https://github.com/sigmaSd/IRust/tree/racer3.0

[2019-06-04 20:17] sigmaSd commented on #23
thanks for the detailed issue!
should be good https://github.com/sigmaSd/IRust/commit/d6fb300729cdb52ca51427fc4672ca837ad08d09

[2019-06-05 17:58] pzmarzly commented on #23
Here's a remaining minor issue:

![deepin-screen-recorder_xfce4-terminal_20190605195732](https://user-images.githubusercontent.com/8074163/58978489-355ee380-87cc-11e9-89a9-f77d2e222962.gif)

Otherwise, I found none.

[2019-06-05 22:28] sigmaSd commented on #23
thans again! https://github.com/sigmaSd/IRust/commit/c2c16c842f51d7b45b26c949c758971100617c82

[2019-06-05 22:35] sigmaSd commented on #23
Ah issue still present

[2019-06-05 22:49] sigmaSd commented on #23
should be good now https://github.com/sigmaSd/IRust/commit/1ac61b4dddfe175390649aefcc84cb886c303964

[2019-06-07 15:52] sigmaSd commented on #23
Feel free to reopen if you encounter other issues

[2019-06-07 15:52] #23 closed

[2019-06-08 02:23] messense opened #26 "thread 'main' panicked at 'IRust Out: Custom("No such file or directory (os error 2)")'"
OS: macOS

[code]

[2019-06-08 03:36] sigmaSd commented on #26
Hi, thx for testing on mac!, would you use debug build and paste the log here? With release build I cant really tell much, and just gessing do you have racer installed? I think Im still not handling it not being present

[2019-06-08 03:42] messense commented on #26
Indeed it was caused by racer not installed.

[2019-06-08 03:59] sigmaSd commented on #26
should be good now https://github.com/sigmaSd/IRust/commit/092abd6525370b3f2c4487a47608ba1339603d2e

[2019-06-08 04:07] #26 closed

[2019-06-12 06:55] pzmarzly opened #32 "Questions about new multiline code"
I saw 0.5.11 and 0.5.12 and have some thoughts about them:

- why does hitting Enter (Return) input space? Do you plan to change it in future? Or is it a design choice to not have multiline (as in "containing \n") inputs? (they are rarely needed, after all)
- I think `incomplete_input()` should also return true when the last non-whitespace (`trim()`) character is `:` or `.`, as it's afaik guarante

[2019-06-12 06:56] pzmarzly opened #33 "Delete key does not delete input"

[2019-06-12 16:59] sigmaSd commented on #32
Hi, thanks for chiming in,
1- The current implementation is just a placeholder till a correct one lands (actually print the  multi-lines input in a multi-lines way), I just added this basic implementation to unbreak it,  at least now its possible to paste multi-lines
2- good idea I'll add your suggestions

[2019-06-12 17:14] sigmaSd commented on #33
https://github.com/sigmaSd/IRust/commit/a9fb71a4a842cfbe9718899fe3d23cc5357090cb

[2019-06-12 17:15] sigmaSd commented on #32
https://github.com/sigmaSd/IRust/commit/c4a280d77813a73f0ae5bcf5d001768729f0a27c

[2019-06-12 22:22] #33 closed

[2019-06-12 23:30] sigmaSd commented on #32
Would you check out https://github.com/sigmaSd/IRust/commit/9559a27c42e5f3401329c8676f8dc82ba29601a0
Its the easiest way to implement multilines handling but its a bit of cheating so I want to know how do you see this in practice

[2019-06-13 00:15] pzmarzly commented on #32
It does not print output now :D

![screenshot](https://user-images.githubusercontent.com/8074163/59393481-27850180-8d7c-11e9-83c4-59e89aeb8265.png)

I think that in case of `.`, `:` and `=` at the end of the line, Enter should enter new line, not run command (`if StringTools::unmatched_brackets(&self.buffer) {` -> `if self.incomplete_input() {`).

The spaces are bit annoying to delete. If irust st

[2019-06-13 00:28] sigmaSd commented on #32
this should fix that bug https://github.com/sigmaSd/IRust/commit/5424774b5a9c373ac5d1956a7d6ad740de2657dc btw you can jump the spaces with ctrl,
I defenitly hear you currently this feels like a bunch of hacks glued together, I just want to add features the fastest way possible, but I'm planning to stop at some point and refactor the code and then implement the buffer properly as you suggested

[2019-06-13 00:36] sigmaSd commented on #32
I like the code snippet btw, that would be a very nice rework

[2019-06-23 11:29] sigmaSd commented on #32
@pzmarzly here is the new rework https://github.com/sigmaSd/IRust/tree/cursor_rework
I would appreciate if you test it, it really needs a lot of feedback

[2019-06-23 11:35] pzmarzly commented on #32
Open IRust, hit `a`, hit `Delete` (at end of the line):

[code]

[2019-06-23 11:38] pzmarzly commented on #32
I can't see any other problems (aside of `my_rust_binary.log` and Home/End disabled)

[2019-06-23 11:43] sigmaSd commented on #32
https://github.com/sigmaSd/IRust/commit/7f72f69b924100319378363533151ffe251edc32
thanks a lot for testing so fast!
I'm going to make log a  dev dependency, it was really useful for debugging (was having a hard time before without it)

[2019-06-23 12:58] sigmaSd commented on #32
https://github.com/sigmaSd/IRust/pull/35

[2019-06-27 02:34] sigmaSd commented on #32
I guess this can be closed, if you encounter some edge cases you can open specific bug report, thanks for the testing and feedback!

[2019-06-27 02:34] #32 closed

[2019-07-11 11:47] tobz1000 opened #36 "Terminal output display missing after quitting IRust"
Issue experienced with Bash 4.4.9 and the following terminal emulators:
- LXTerminal 0.3.1
- Guake 3.0.5
- xterm 330

To reproduce:

1. Start `irust`
2. Close with ctrl-d or ctrl-c
3. Start typing in parent shell

My typed command does not display in the terminal. If I press enter, the command output is displayed; however, line breaks do not return to the start of the line.

Here is a correctly-di

[2019-07-11 14:57] pzmarzly commented on #36
At first I thought it may be a bug in `crossterm::Terminal::exit()` but it's just a wrapper for `std::process::exit(0)`. Could you try running:

[code]

Hopefully at least 1 of these commands should help, and knowing which one does should help sigmaSd fix the issue.

[2019-07-11 16:43] tobz1000 commented on #36
Thanks! `stty sane` and `tput reset` fix the issue (only one is needed). `tput clear` doesn't make any difference. Hopefully that helps with a diagnosis...

Let me know if you'd like any more testing.

[2019-07-11 19:13] sigmaSd commented on #36
Hi @tobz1000  @pzmarzly,  I should hopefully have time to look into it tomorrow,
thx for helping @pzmarzly!

[2019-07-12 20:09] sigmaSd commented on #36
@tobz1000 https://github.com/sigmaSd/IRust/commit/5fe3a57ce55cf86b838ba27b411abaaad4275c17
Its weird that this fixs it, since terminal.exit() does the same thing, I'll probably dig deeper

[2019-07-12 22:27] tobz1000 commented on #36
Yep - the patch fixes it, thanks!

Yeah, `Terminal::exit` is a bit of weird one, pretty much a re-export of `sys::exit`. But I guess since `Terminal` doesn't own/know about any `RawScreen`, it doesn't try to guess the current or previous terminal state.

[2019-07-13 05:47] sigmaSd commented on #36
@tobz1000 I like your idea! I'll keep it in mind for now

[2019-07-13 05:47] #36 closed

[2019-08-01 15:29] smolck opened #39 "Warn about expressions with empty output"
Currently, after entering something like this into the REPL:
[code]
When trying to run it with `test(3)`, I get an error:
[code]

If I put a semicolon at the end of `test(3)`, so that it becomes `test(3);`, I get no output from the REPL, and when I type `:show`, I get this:
[code]

Is the ability to define functions within the REPL currently not a feature, or am I missing something? If it isn't a

[2019-08-01 17:08] sigmaSd commented on #39
Hi @smolck! You need to put a semi colon after the function definition, like `fn a(4) {};`

The way you wrote it actually should trigger a warning, `irust: are you missing a ;`
Didnt the error msg appear in your case?

[2019-08-01 17:13] sigmaSd commented on #39
In the same vein https://github.com/sigmaSd/IRust/issues/8

I think @pzmarzly is right about the sirprising behaviour,

Ah nvm about the error msg it wouldnt trigger in your case, but maybe I should add more agressive warnings (maybe each time the output is ())

[2019-08-01 17:24] sigmaSd commented on #8
If you're interested you can add some analysis here https://github.com/sigmaSd/IRust/blob/master/src/irust/format.rs#L28

[2019-08-01 17:27] sigmaSd commented on #39
If you're interested you can add some analysis here https://github.com/sigmaSd/IRust/blob/master/src/irust/format.rs#L28

[2019-08-01 17:48] smolck commented on #39
@sigmaSd Thanks!

Thanks, I'll look into it for sure! Beyond adding a warning message if the user doesn't put a semicolon at the end of a function definition, what other warnings would you like added?

[2019-08-01 21:17] sigmaSd commented on #39
Thanks!

Better keep it open until atleast we add a warning about this particular case cause I bet its frequent

If you figure out other warning cases feel free to add them as well or we'll just add them as they come up

[2019-08-02 19:26] sigmaSd commented on #39
@smlock, Hope its alright that I implemented this https://github.com/sigmaSd/IRust/commit/c2075b5be8a35eebc7a09dabc6adeadc3666deba,
I just removed the input analysis, and now IRust warns about all expressions that returns a "()" (except for empty input, in that case it just create a new line)

Also I added this patch https://github.com/sigmaSd/IRust/commit/4f650fca01ab054c62753528f22fdeb7323ae0df

[2019-08-02 21:28] smolck commented on #39
That’s great, thanks! As a side note, do you have any other features you’d like to see implemented? I’m happy to help where I can.

[2019-08-02 21:28] #39 closed

[2019-08-02 22:06] sigmaSd commented on #39
@smolck  ,thanks a lot for your offer!

There are a lot of things that could be done(both bug fixes, and features), I'll write appropriate issues, (obviously if you notice something, feel free to open an issue as well!)

Currently a feature I really want is highlighting the input,
My last try was by using syntect, pseudo-code:
https://github.com/sigmaSd/IRust/blob/master/src/irust/events.rs#L9
[co

[2019-08-02 23:32] smolck opened #40 "Feature Request: Input Highlighting"
As was pointed out in https://github.com/sigmaSd/IRust/issues/39#issuecomment-517857723, it would be nice to highlight the input as the user types it in, like IPython does for example. However, the straightforward approach mentioned in that issue is too slow (and, as mentioned next, AFAIK doesn't work, since it tries to highlight each char individually).

Ideally, we could make IRust support async

[2019-08-02 23:41] smolck commented on #39
Interesting. The highlighting is quick with `:show`, so I imagine that when `highlight()` is called for each char, the allocated memory per char starts to slow things down. I've opened a new issue, #40, to focus discussion on how we implement this new feature.

[2019-08-03 07:44] sigmaSd commented on #40
@smolck thanks a lot for opening this issue!

1- highlighting the buffer and then printing it with syntect actually works but its too slow, this is the best method if we actually figure how to speed it up

2- the printer abstraction is bad, just leagacy code, I doubt it can help much

3- I like highlighting keywords manually, this can be the easiest and effective approach indeed, instead of rellyi

[2019-08-03 09:04] sigmaSd commented on #40
Also now that I think about 3, we cant rely on the space because the user can add a character inside the line, so logically we have to evaluate the buffer with each input.
Printing the whole buffer with each input is not actually costy(there is no percievable performance hit) , the issue is once again is coloring, so we're back to 1

Intuitevly I think Im not using syntect correctly since highligh

[2019-08-03 15:25] sigmaSd commented on #40
If we're still facing issues with syntect we can just create a simple custom parser that highlights keywords as you suggested, should be fun to make!

Just saying Im leaving this for you @smolck  you can make a Pr, ping me for infos, or just tell me you're through with it xD either way Im not in a hurry at all, this is a cool feature to have but it doesnt block other work, so Ill keep it open till

[2019-08-03 16:23] sigmaSd commented on #40
Btw if you want any help on this Im available at crossterm discord server https://discord.gg/p4NGQf, @mrcool, we can discuss it in offtopic channel

[2019-08-03 17:42] smolck commented on #40
Thanks a lot! Hopefully the implementation won’t take too long.

Where all is the printer used (I haven’t looked into it)? Should it be removed/replaced or similar (different issue I imagine, but I’m interested in what you want to do with it)? Having not looked at the code, could that be the bottleneck?

Okay, I’ll try that out first. Forgive my ignorance, but you mentioned using `once_cell` for t

[2019-08-03 19:23] sigmaSd commented on #40
You're very welcome!

Printer is just used to print output depending on what it is: command, shell.. , it doesnt do anything special its juat a way to organize the code, actually I guess IRust code base is really underdocumented so Ill probably focus on docs next,

`once_cell` https://docs.rs/once_cell/0.2.3/once_cell/ is like lazy_statics if you're familiar with it, a crate to create global stati

[2019-08-04 12:11] sigmaSd commented on #40
@smolck I tried it and indeed `once_cell` improve the performance of highlighting to very acceptable levels

So here is a recap of what needs to be done:

1- adding lazy evaluation to https://github.com/sigmaSd/IRust/blob/master/src/irust/highlight.rs
2- making [handle character]( https://github.com/sigmaSd/IRust/blob/master/src/irust/events.rs#L9) print and highlight the whole buffer with each in

[2019-08-04 13:50] smolck commented on #40
@sigmaSd Great, thanks! I should be able to get a PR today if all goes well.

[2019-08-04 15:30] smolck commented on #40
@sigmaSd I'm not sure I understand the project enough to do this, and so if you want to go ahead that's fine by me. But if not, how do you want me to go about highlighting the output after a character is typed (i.e. how to fix the following diff)? I tried the following, and it worked somewhat, but not perfect (it messed up `backspace` and `enter`):
[code]
Also, you mentioned https://github.com/sig

[2019-08-04 19:06] sigmaSd commented on #40
You're in the right direction indeed!
here are some fixes to your changes
[code]
Whats broken with this:

1- Scrolling when reaching the end of the terminal https://github.com/sigmaSd/IRust/blob/master/src/irust/events.rs#L13

2- Incomplete input handling https://github.com/sigmaSd/IRust/blob/master/src/irust/events.rs#L41

However fixing this 2 remaining issues might be a lot of work, we can try

[2019-08-04 20:43] smolck commented on #40
@sigmaSd Thanks for the help!

It seems that the code base being messy gets in the way of adding new features, fixing bugs, etc.; what do you think of holding off on this for a while until the code base is refactored? Might as well; if we can't easily/simply fix those issues you mentioned without changing up the code base, why not go ahead and do a full refactor (with future features in mind)? Aga

[2019-08-04 21:25] sigmaSd opened #42 "Refactor code base"
Currently IRust code base got really missy, a lot of dead code a lot of useless abstractions (Printer!) and some optimization that doesnt make sense only make the code harder(printing each character instead of printing the whole buffer)

So a lot of things can be done and as suggested by @smlock I'll try to use this issue to keep track of the most important stuff that needs to be changed

- [x] [h

[2019-08-04 21:27] sigmaSd commented on #40
@smolck you're definitely right, here is https://github.com/sigmaSd/IRust/issues/42 (I'm not really good at writing issues, (or organized code bases for that matter :p ))

[2019-08-05 00:43] smolck commented on #42
@sigmaSd What do you think of separating much of the logic into separate structs? For example, `writer.rs` contains an impl block for `IRust`, when it seems like it would really have a `Writer` struct inside. To me it feels like the `IRust` struct has too many jobs that it should delegate to other structs instead. Even though the file may be long, a single `irust.rs`/`mod.rs` file for `IRust`’s im

[2019-08-05 03:29] sigmaSd commented on #42
I feel the same about the lack of struct

Im not sure about irust/mod.rs but maybe if we create more independent structs the number of impl blocks would decrease, and would make this change more desirable
just a small example diff would be great so I can see it better

Thanks a lot! Ill probably start with 1

Btw GNvim is awesome!

[2019-08-07 01:02] smolck commented on #42
@sigmaSd here you are (refactoring cursor.rs and the `Cursor` struct, and in a gist since it's a bit big):
https://gist.github.com/smolck/1baaeb11cf42f7f9e64baa84a730900b

The point I'm trying to make is that each struct should handle it's own things: example being `Cursor` handling itself (and the `TerminalCursor` too since IMHO that makes sense, as shown in the diff). To me it feels better and m

[2019-08-07 01:12] sigmaSd commented on #42
Love the design!! I really like the idea of taking irust by ref, now we can actually have real independent structs, also integrating crossterm cursor in cursor makes so much sense!

Thanks a lot for doing this!

[2019-08-07 03:38] smolck commented on #42
No problem! Thank you for welcoming the change!

As far as how I’ll go about the refactor, I think doing it in one branch with multiple commits is probably the most reasonable (i.e. one commit for refactoring `Cursor`, one for `Printer`, etc.); what do you think?

[2019-08-07 06:27] sigmaSd commented on #42
I thin that be would the most reasonable too

Btw the problem with taking irust by ref is we will face borrow rules, self refs is a no go in rust, do you have a solution for this?

[2019-08-07 13:13] smolck commented on #42
Not sure I understand this. Do you mean something like this? The following would work:

[code]

[2019-08-07 13:22] sigmaSd commented on #42
the structs needs to contain each other, here is an example, I didnt check it ( I will later) but Im pretty sure it should trigger a borrow error

[code]

[2019-08-07 13:27] sigmaSd commented on #42
btw, I meant self referential struct (struct thay contains elements that refrence itself)

[2019-08-07 13:41] smolck commented on #42
Nope, no borrow errors (just tested it). Note that you can change the `self.cursor.dostuff(&self)` line to `self.cursor.dostuff(self)`, and AFAIK it stays the same in functionality. The reference is given to a different scope (the `dostuff` function above) which drops the ref after the function ends, and so nothing bad happens. In fact, you could probably have a reference to `IRust` in the `Cursor

[2019-08-07 14:53] sigmaSd commented on #42
Ok that's great! so we'll just refactor the whole code base with you're idea, hopefully with it we can remove most impl block and delegate functions to independent structs

[2019-08-07 19:04] sigmaSd commented on #42
@smolck would you push your changes to Cursor? I have a big rework coming up  https://github.com/sigmaSd/IRust/tree/wip_rework_printing_input  and I want to use your changes on the Cursor

What this refactor does:
1- addresses issue **"1-"** (printing the whole buffer instead of the inputted character)
2- add highlighting input
3- Remove a lot of the complexity of Cursor: In particular it removes

[2019-08-08 01:37] smolck commented on #42
@sigmaSd sure, but I’m not quite finished. I’ve finished much of the general refactor, but because I’ve moved the `TerminalCursor` (which doesn’t implement the `Clone` trait) into the `Cursor` struct, I’m not sure how to implement `Clone` for `Cursor`. Any ideas (on copying/cloning crossterm’s `TerminalCursor`)?

[2019-08-10 16:33] smolck opened #45 "Add Tests"
It would be nice if IRust had tests to help make sure that changes we make haven't modified IRust's functionality in a wrong or unintended way. In addition, it would allow us to setup Travis CI in the future.

Also, I think this issue goes along with #42; it may be a good idea to add tests for the refactored portions of the codebase as we do the things listed in that issue.

I'm not familiar enoug

[2019-08-11 14:02] smolck commented on #42
I got off on a bit of rabbit trail with #44 xD (when I started merging `Printer` and writer.rs, I wanted to use `Cursor` in a way that needed that refactor, see end of this comment). I’ll get working on point 2 today if all goes well.

@sigmaSd What do you think of making the `Printer` struct contain the `Cursor`, and handle moving it and such? To me it makes sense to have the printer handle movin

[2019-08-11 15:19] sigmaSd commented on #42
I think if we manage to merge writer and printer successfully, making the new struct own the cursor is a nice idea!

However would you hold on working on it for a while I'm working on https://github.com/sigmaSd/IRust/tree/wip_rework_printing_input it will change a lot of the code base, hopefully I'll be finished soon, so when I'm done you won't need to rebase

[2019-08-11 15:25] smolck commented on #42
Sure! Thanks for the heads up! Just @ me when you’re ready for me to start working on it.

[2019-08-11 15:26] sigmaSd commented on #42
Ok thanks as well!

[2019-08-14 07:57] sigmaSd commented on #45
I'm not used to writing tests but it obviously make sense, I think the hard question is how to test terminal functions like line wrapping and terminal overflow, do we need to use mocking?
Either-way I guess we can start with simple stuff

[2019-08-14 08:00] sigmaSd commented on #42
@smolck https://github.com/sigmaSd/IRust/pull/47 is almost done, its probably safe now if you want to start to work on anything you want ^^
Btw for writer and printer, I think we should merge them, change Printer struct to Writer struct and replace all print words with write words to match crossterm terminology and give people who reads the code less headache xD

[2019-08-15 14:20] smolck commented on #45
I think you’re right, yes. Probably the best way (if not the only way) to do it.

 Do you want me to start with making tests for the cursor struct? Seems like a good place to start to me.

[2019-08-15 14:22] smolck commented on #42
Ok, cool! Hopefully I can get a PR for the change relatively soon.

[2019-08-15 17:52] sigmaSd commented on #40
https://github.com/sigmaSd/IRust/pull/47

[2019-08-15 17:52] #40 closed

[2019-08-15 18:01] sigmaSd commented on #42
@smolck I published the 0.7.0 version, it still have some issues but highlighting input is so cool I really wanted to ship this
And let me be honest here I probably made the code-base even messier xD
But from now on at least there isn't a major feature I really want right now, so I can focus on refactoring, docs and tests to make this project more contributor friendly
Hopefully it works out!

[2019-08-16 05:54] sigmaSd commented on #45
@smolck yeah that would be great! But I thnik we should wait for the refactor to settle down unless you're sure that a function wont be changed

[2019-08-16 06:24] sigmaSd opened #48 "Add a warning about optional dependecies"
IRust when used the first time, should check if [rustfmt](https://github.com/rust-lang/rustfmt) [cargo-edit](https://github.com/killercup/cargo-edit) [racer](https://github.com/racer-rust/) and feature optional dependencies and issue a one time warning about them being missing

[2019-08-16 14:18] smolck commented on #48
In order to implement this, we may need to use a config file (which is probably fine since we may want to add extra config options in the future anyway). One question: is rustfmt used within IRust itself (i.e. to format the user’s REPL code)? Reason I ask is because we shouldn’t need to check for it if it’s only used when contributing to IRust, but I don’t know if IRust itself uses it.

Also, @sig

[2019-08-16 14:22] sigmaSd commented on #48
@smolck we already have a configuration file! (just read the README :P )
Yes cargo fmt is used to beautify the code outputed with `:show`
will edit the link, good catch!

[2019-08-16 14:37] smolck commented on #48
I really should check these things 🤣

Now that I know that, I think we just need to insert a check (in main.rs or such) for a certain option in the config file that lets us know if we’ve shown the warning (it doesn’t necessarily need to be a new option: just one that wouldn’t be there at first, but that would appear after the first time starting IRust). If the option isn’t there, show the warning:

[2019-08-16 14:46] sigmaSd commented on #48
We can as you suggested add an option `"show optional dependencies warning" = false`,  to do that we need to modify 2 places ( I think):

1 - add the option to Options struct https://github.com/sigmaSd/IRust/blob/master/src/irust/options.rs#L8
2 - parse it with the Options parser https://github.com/sigmaSd/IRust/blob/master/src/irust/options/parser.rs
3 - check for the option at start https://gith

[2019-08-16 14:47] sigmaSd opened #49 "Add `:irust` command"
It will print Ferris ASCII art, would be great if its animated, but I accept statics too ^^

[2019-08-16 19:48] smolck commented on #49
You mean stuff like this animated ASCII ferris?

https://jsfiddle.net/Diggsey/3pdgh52r/embedded/result/

[2019-08-16 20:06] sigmaSd commented on #49
Ha thats cool, yeah that can work

[2019-08-18 07:43] sigmaSd opened #50 "Make Up/Down arrow keys move cursor in multilnes input instead of cycling history"
pseudo code:
[code]

[2019-09-03 18:55] sigmaSd commented on #50
https://github.com/sigmaSd/IRust/commit/75af7408f9ed5015535038190dde33960dd519de

[2019-09-03 18:55] #50 closed

[2019-09-03 19:07] sigmaSd commented on #49
placeholder https://github.com/sigmaSd/IRust/blob/master/src/irust/parser.rs#L175

[2019-09-30 16:39] D1mon opened #51 "add tab completion"

[2019-09-30 16:42] sigmaSd commented on #51
Hi @D1mon tab completion is already supported if you have racer installed

[2019-09-30 18:59] D1mon opened #52 "thread 'main' panicked at 'IRust Out: IoError"
rustc --version
`rustc 1.40.0-nightly (8431f261d 2019-09-29)`

cargo --version
`cargo 1.39.0-nightly (ab6fa8908 2019-09-25)`

install clean rust nightly and run 'cargo install racer irust'

[2019-09-30 19:06] sigmaSd commented on #52
which os os, terminal?
does it not happen with stable rust?
I remember facing this error with windows 7 but I didn't investigate further, its an upstream issue it happens when racer is on, that's why racer option is disabled by default on windows

[2019-09-30 19:08] D1mon commented on #52
Manjaro
Yakuake (Konsole)

[2019-09-30 19:10] D1mon commented on #52
when I got 1.37 - everything worked except tab completion. then I posted nightly and racer and now it doesn’t work

[2019-09-30 19:12] sigmaSd commented on #52
for now you can just install racer with nightly, and install irust with stable to workaround the issue, I'll try to reproduce it in the meantime

[2019-09-30 19:13] D1mon commented on #52
racer is not installed on the stable version, says that you need to install nightly

[2019-09-30 19:14] sigmaSd commented on #52
cargo +nightly install racer
cargo +stable install irust

[2019-09-30 19:21] sigmaSd commented on #52
so in your case you already installed racer, so just remove irust and install it with stable

[2019-09-30 19:59] D1mon commented on #52
does not work. I will try tomorrow

[2019-09-30 20:35] sigmaSd commented on #52
I did reproduce your error, I have a general idea about whats happening but I wont try to fix it until this issue affects stable since it could be just a nighlty bug,
Just to recap this should work:
1- install racer with nightly: cargo +nightly install racer
2- install irust with stable: cargo +stable install irust (make sure you already removed the old version)

If you still encounter an issue po

[2019-10-01 18:10] sigmaSd commented on #52
I figured out the issue, racer needs to be properly configured for different cargo channel,
so to complete the steps in my last comment
step 3: make sure racer is correctly configured: https://github.com/racer-rust/racer#configuration `rustup component add rust-src`

[2019-10-01 18:17] D1mon commented on #52
works!!! completed the team and it all worked! Thank.

[2019-10-01 18:17] #52 closed

[2019-10-01 18:18] D1mon commented on #52
works!!! Thank.

[2019-10-01 18:24] sigmaSd commented on #51
I guess I can close this then

[2019-10-01 18:24] #51 closed

[2019-10-01 18:30] D1mon commented on #51
yes

[2019-10-01 18:32] D1mon commented on #51
Look towards "pry" (ruby) and add the features that are there.

[2019-10-01 18:42] sigmaSd commented on #51
interesting I'll check it out

[2019-10-06 07:02] sigmaSd opened #53 "Add lines number ala Ipython"
[code]
But its not that simple since this part of the code is tightly coupled to the printing part

[2019-10-06 07:03] sigmaSd opened #54 "Add confirmation dialog when quitting with Ctrl-D"
exp: Do you really want to exit ([y]/n)?

[2019-10-06 07:08] sigmaSd opened #55 "Improve highlighting"
Currently highlighting works pretty well, but one issue remains if we paste code into the repl it becomes noticeably laggy, I'm not sure whats the best way to deal with it

1 - we can de-bounce from highlighting calls, that is if the user input very fast(like pasting) write all the input without highlighting and then highlight when the input finishes

2 - Investigate how editors (exp: [accepted](h

[2019-10-06 07:14] sigmaSd opened #56 "Use toml + serde crates instead of custom config"
A lot of [Options](https://github.com/sigmaSd/IRust/blob/master/src/irust/options.rs) logic could be simplified by using serde + toml,

I didn't use them at first because I cared about compilation time and reducing dependencies number, but now irust already uses some heavy dependencies like syntect so other crates like serde and toml (which are probably already used in the dependency tree) wont ch

[2019-10-06 08:55] sigmaSd commented on #55
1- is actually possible see https://github.com/sigmaSd/IRust/tree/async_highlight but crossterm async story is not good for now, (its a busy loop that will consume a lot of the cpu), maybe revisit this after its reworked upstream, or figure how to handle it correctly with the current implementation

[2019-10-06 15:11] smolck commented on #42
@sigmaSd Hello again! Sorry about not contributing lately, been working on other stuff. Hopefully I can get a PR to merge the Printer and Writer structs soon.

One question: could you add another bullet point to the top comment for tests? Those will be important for future development, so I figure they deserve a spot up there.

[2019-10-06 15:34] sigmaSd commented on #42
Hi again @smolck ! you're welcome at anytime!!
I added your suggestions, just so you know I attempted to merge printer and writer but I couldn't figure the right abstraction to encapsulate them, I hope you have a better luck xD

[2019-10-06 17:05] jadijadi commented on #54
Hi @sigmaSd , May I work on this?

[2019-10-06 17:06] sigmaSd commented on #54
Hi @jadijadi ! Would be great, feel free to ask any question needed

[2019-10-06 20:34] jadijadi commented on #54
Dear @sigmaSd , thanks for the opportunity. Very cool project. Thumbs up!
Checking the code, I can say that I have to insert my code into `events.rs`, at `pub fn handle_ctrl_d`. I will use your `write_newline` and `write` but I did not figured out how I should read the keyboard input from the user. Should I user your buffer? Can you please give me a hint.

[2019-10-06 20:51] sigmaSd commented on #54
thanks as well for taking the time to contribute!
Its not very clear to me as well,
maybe one way to solve this is to have a mini event loop like
[code]

[2019-10-08 06:26] jadijadi commented on #54
Dear @sigmaSd , I've sent a PR for this, please feel free to comment or ask for any changes.

[2019-10-09 17:17] sigmaSd commented on #54
fixed by https://github.com/sigmaSd/IRust/pull/57

[2019-10-09 17:17] #54 closed

[2019-10-09 18:17] sigmaSd opened #58 "Add search history feature"
Checkout `Ipython` history search for example (Ctrl-R)

[2019-10-10 07:16] jadijadi commented on #49
May I work on this dear @sigmaSd

[2019-10-10 13:48] sigmaSd commented on #49
Hi @jadijadi, of course  would be great!

[2019-10-14 07:11] jadijadi commented on #49
Dear @sigmaSd , there are two variations of Ferris.

1)
[code]

and 2)
[code]

Both look nice ('ve tried them).

1. which one? 1 or 2 or random? :)
2. should I keep the current IRUST in ascii art? or its just a place holder?
3. I think it is good if we move this ASCII ART function to arts.rs . will be cleaner.
4. If fine, I'll commit a fixed logo first.

[2019-10-14 18:04] sigmaSd commented on #49
Hah 1 looks scarier to me :p, thanks a lot @jadijadi  for working on this btw
1- random I like both
2 - its just a place holder so you can remove it
3 - I defenitly agree it belongs to art.rs
4 - sure

[2019-10-18 07:28] sigmaSd commented on #49
fixed by  https://github.com/sigmaSd/IRust/pull/59

[2019-10-18 07:28] #49 closed

[2019-12-01 08:20] #58 closed

[2019-12-03 22:31] ulidtko opened #62 "Out: IRust: Are you missing a `;` ?"
Hi!

This rather simple code compiles just fine with `rustc`:
[code]
But when *pasted* into IRust, gives weird error:

![Screenshot from 2019-12-04 00-28-55](https://user-images.githubusercontent.com/365338/70095306-16cb8f00-162d-11ea-9a3e-4cf1082e01a8.png)

Curiously, `:load` from a scratch-file works just fine, too. But it's the whole point of a REPL — to not have to use scratch files right?..

[2019-12-03 22:33] ulidtko commented on #62
`irust --version` → 0.7.30, FWIW

[2019-12-04 05:48] sigmaSd commented on #62
Hi welcome! As IRust suggest you have to add ';' at the end of the function definition
fn a() {}; instead of fn a() {}

[2019-12-04 05:49] sigmaSd commented on #62
This issue reoccurs I guess I have to add a FAQ in the readme ^^

[2019-12-04 20:40] smolck commented on #62
@sigmaSd The error IRust isn’t very helpful IMO because it doesn’t say anything about where the semicolon should go. Most people will probably expect (from other REPLs, like IPython) functions to not require semicolons at the end, and so won’t think to put a semicolon after the function definition. Is there any way we can remove that requirement? Or at least improve the error message?

[2019-12-04 22:21] sigmaSd commented on #62
Hi @smolck ! I think you're right since by now I saw this issue come up a lot of times, maybe we can just special case functions structs and traits maybe?

Here is an initial test https://github.com/sigmaSd/IRust/commit/60e541ca704b8f4b9ef3756b03f67fd97a7bb9a3, would be great if you test it and report back, I just want to be sure of two things: 1- does it feel now like you expect 2- does it break

[2019-12-06 06:06] sigmaSd commented on #62
I found no problem while testing it https://github.com/sigmaSd/IRust/commit/195cbec7f7579324ee750263221a257e39659df9, I think this should be resolved now

[2019-12-19 08:04] ulidtko commented on #62
Yea, looks good to me. Closing!

[2019-12-19 08:04] #62 closed

[2020-07-13 18:11] sigmaSd commented on #48
Fixed in https://github.com/sigmaSd/IRust/commit/8e43fdb620f61b0b45cae5b57cbf9c6c209837d9

[2020-07-13 18:11] #48 closed

[2020-07-13 18:11] sigmaSd commented on #56
Fixed in https://github.com/sigmaSd/IRust/commit/8e43fdb620f61b0b45cae5b57cbf9c6c209837d9

[2020-07-13 18:11] #56 closed

[2020-07-13 18:13] sigmaSd commented on #55
Fixed in https://github.com/sigmaSd/IRust/commit/0a0e9fc0370ab5e5214d35e25315dc667962f11a
tldr: Removed syntect, used a custom implemented parser

[2020-07-13 18:13] #55 closed

[2020-09-21 16:31] fdncred opened #66 "Can't get to work on Windows"
I can write your factorial function in the readme and it accepts it but when I try to execute it or do just about anything, I get this error message.
`The system cannot find the file specified. (os error 2)`

I installed everything it asked to install on the first run. What can I try next?

[2020-09-21 16:42] sigmaSd commented on #66
Hi! Can you check if ℅Temp%/irust/target/debug/irust.exe exists? Also which version of windows you're on?

[2020-09-21 17:02] sigmaSd commented on #66
Btw I'm suspicious its an antivirus interfering.

[2020-09-21 18:21] fdncred commented on #66
version: Microsoft Windows [Version 10.0.19041.508]
no, that debug/irust.exe does not exist.

[code]

This is with virusscan turned off.
![image](https://user-images.githubusercontent.com/343840/93805447-63f50d80-fc0d-11ea-9335-f5de3db8de09.png)

[2020-09-21 18:40] sigmaSd commented on #66
I don't have a win 10 machine currently, If you would like  debug you can:
test 1 - add a `dbg!(output)` here https://github.com/sigmaSd/IRust/blob/master/src/irust/cargo_cmds.rs#L63
and run something(5+4)

test 2-  run somthing on irust (5+4) then cd to `%temp%/irust/` and run `cargo run` to check if that works

[2020-09-21 18:49] sigmaSd commented on #66
Its weird that you don't have the target directory, it should be created immediately when irust is run,
I think you should try test2 it might be something with the tool-chain you have.

[2020-09-21 19:04] sigmaSd commented on #66
I still suspect there is something interfering, irust when run:
1 - create %temp%/irust folder
2 - run `cargo build` on it, we know that this command succeeded since now you have src, cargo.toml, etc.. , but it should also create target folder and the executable in it, so my suspicion it got removed after since you don't have it.

[2020-09-21 19:07] fdncred commented on #66
oh, I think I may have just figured it out. I have the `CARGO_TARGET_DIR` environment variable set which make cargo put the target dir wherever that env var is set to.

[2020-09-21 19:12] fdncred commented on #66
yup, i temporarily disabled that env var and can do this now.

![image](https://user-images.githubusercontent.com/343840/93810566-7757a700-fc14-11ea-8d26-b0e80aafaf6e.png)

[2020-09-21 19:52] sigmaSd commented on #66
Nice find! Ill be sure to handle that case then.

[2020-09-21 22:42] sigmaSd commented on #66
Should be fixed now https://github.com/sigmaSd/IRust/commit/c799f7ab4a6caa5826e2ef8ff50fc9bfb5c78079

[2020-09-22 13:53] fdncred commented on #66
Looks like we still need a few more tweaks, although I assume this is unrelated.

[code]

It looks like `is_ansi_code_supported()` is available on `Command` but I'm not sure how to call it.

[2020-09-22 14:16] sigmaSd commented on #66
Yeah im using crossterm git features for the master branch, you can change that in Cargo.toml, The next release of crossterm should be soon thats why I left it like I that.

[2020-09-22 14:17] sigmaSd commented on #66
But Ill update it for consistency.

[2020-09-22 14:31] fdncred commented on #66
Thanks for this change. It compiles now. I may open other issues. I love the UI, love how to control the cursor when re-editing functions, love the syntax highlighting, love how tabbing works right. Don't like a few things as well. :)

[2020-09-22 14:31] #66 closed

[2020-09-22 14:33] sigmaSd commented on #66
@fdncred thanks as well!  Sure that would be great!

[2020-09-22 14:36] fdncred opened #67 "editing functions causes redefinitions"
I type this is in and run it and notice i've made a mistake.

[code]
So, I up-arrow and fix the mistake and run it again and now there are multiple definitions.

[code]

What I meant for it to do was overwrite the first one with the second one. Not create two.

[2020-09-22 14:45] sigmaSd commented on #67
This is because of https://github.com/sigmaSd/IRust/issues/62
Every statement used to require ';' at the end, but now there are some exception that gets immediately parsed into the repl (like function definition see https://github.com/sigmaSd/IRust/blob/master/src/irust/parser.rs#L303)
I found overall the convenience of not having to type ';' is really nice also users don't get confused as it happ

[2020-09-22 14:46] sigmaSd commented on #67
Btw to check the state of the repl, you can use ':show'

[2020-09-22 14:48] fdncred commented on #67
Does it check your path for executables?
[code]

[2020-09-22 14:54] sigmaSd commented on #67
it calls `std::process::Command::new(editor)` so it should work if its in $PATH https://github.com/sigmaSd/IRust/blob/master/src/irust/parser.rs#L355

[2020-09-22 14:56] fdncred commented on #67
`:edit notepad` works. I bet it's just looking for `.exe` in windows.

[2020-09-22 14:59] sigmaSd commented on #67
Are you sure its on path, you can test by running code-insiders on cmd.
I just tried code and atom on linux, looks they're a bit problematic ( irust doesn't wait for them to spawn), I'm pretty sure it used to work, the problem is probably is that the initial process calls another one then exits, but anyhow this is another issue.

[2020-09-22 15:03] fdncred commented on #67
yes sir. I just checked again to be sure.

[2020-09-22 15:07] sigmaSd commented on #67
Ok I'll grab  a windows machine and debug it later.
you can test `std::process:Command::new("code-insiders").spawn().unwrap().wait()` on irust btw.
Also does it work if you use `std::process:Command::new("cmd").arg("/C").arg("code-insiders").spawn().unwrap().wait()`

[2020-09-22 15:09] sigmaSd commented on #67
Also just a sanity check can you try `echo %PATH:;=&echo.%` and check if it contains the path to code-insiders, maybe there is a way to use executable outside of path in cmd, I'm not really sure how windows works

[2020-09-22 15:12] fdncred commented on #67
this `std::process::Command::new("code-insiders").spawn().unwrap().wait()` does not work and give the same error message as above.
this `std::process:Command::new("cmd").arg("/C").arg("code-insiders").spawn().unwrap().wait()` does launch vscode-insiders.

[2020-09-22 15:12] sigmaSd commented on #67
Does the second command work correctly on your case, I mean are changes reflected on irust?

[2020-09-22 15:13] fdncred commented on #67
The second command only launches vscode, it's not hooked up to the `:edit` mechanism, if I understand what you're asking.

[2020-09-22 15:17] sigmaSd commented on #67
for the edit command to actually work correctly:
[code]
the ok msg needs to be printed only after the editor is closed.
Currently I noticed an issue on linux is that Command::spawn().wait() doesn't wait on forks so it means complex program like electron one wont be handled correctly, so I'm asking if its the same on windows

[2020-09-22 15:17] fdncred commented on #67
I changed 355 to this
[code]
and it launches the file fine however my edits are not consumed i.e. put back in the main.rs file when i save and close.

[2020-09-22 15:18] fdncred commented on #67
Nope - it says `Ok` immediately.

[2020-09-22 15:20] fdncred commented on #67
btw - if i have `code-insiders` open, it just opens another tab with the file. I make changes to the file, save it and close the file. I don't close the editor.

[2020-09-22 15:22] sigmaSd commented on #67
yes that's problematic, I don't see a way around closing the editor.
Does notepad work btw?
Btw I mostly use it with vi, nano, micro, maybe I should just mention its made for terminal editors, cause it looks that supporting big editors is not easy and also I doubt its really that important

[2020-09-22 15:23] sigmaSd commented on #67
And even add a whitelist, what do you think?

[2020-09-22 15:30] sigmaSd commented on #67
Also regarding the original issue, do you think the available ways I mentioned are enough or is there some other method you want to see added?

[2020-09-22 15:49] sigmaSd commented on #67
Actually I don't feel strongly for the whitelist, most editors I tested works (geany, gnome-builder, gedit), I guess its really electron apps that are problematic, I think regarding this issue I can just document it

[2020-09-22 15:49] fdncred commented on #67
Perhaps what you should do is look at the last modified datetime of the file and store that in a var, then launch the editor, then when the last mod time changes, use it as if the editor closed.

yes

If you're trying to be cross platform, it's not safe to assume people in windows will use vi/vim. notepad, notepad++, notepad2 are probably very safe. vscode is what a lot of people are using now cro

[2020-09-22 15:56] sigmaSd commented on #67
I think the issue here, that irust maybe should not accept invalid input, but this is something I really wanted to avoid since it means It will have to recompile every input instead of only the input that contains expression

I actually did the same for a long time but the issue I mentioned above happened multiple times and people always got confused coming from ipython (which irust try to mimic i

[2020-09-22 15:58] sigmaSd commented on #67
':pop' is handy for single line errors
1 - let x ù= "hello";
2 - :pop
3 - up arrow, modify and enter

[2020-09-22 16:06] sigmaSd commented on #67
Its tricky I can set for example a notify handler, I can see this happen asynchronously, the editor opened by the user or in fact any changes to irust/src/main.rs triggers an event that we handle by re parsing the code.

 I guess its possible, I would prefer just improving the current method though instead of the added complexity of handling async events, but its something to consider.

[2020-09-22 16:23] #67 closed

[2020-09-22 16:39] sigmaSd commented on #67
@fdncred I can also workaround the issue, for example add a command ':parse_repl' (or something) so it works like this for currently broken editors
1- :edit atom
2- make the changes and save
3-  use :parse_repl which sync the repl with the modified code

The benefit is you can keep the editor open and actually make the changes whenever as long as you use the new command to sync afer

[2020-09-22 16:58] fdncred commented on #67
i'd be willing to give that a try.

[2020-09-22 17:17] sigmaSd commented on #67
@fdncred you can test here https://github.com/sigmaSd/IRust/tree/sync_edit unfortunately it gets pretty ugly since it reveals the internals I'll see if I can do better

[2020-09-22 17:17] sigmaSd commented on #67
the command is :sync btw

[2020-09-22 17:23] sigmaSd commented on #67
a bit better with https://github.com/sigmaSd/IRust/commit/5e542817c0ce4e73508ae9c59bf2b8061bda27a2

[2020-09-22 17:25] sigmaSd commented on #67
I think I can do even better by evaluating using another file, leaving the original for cases like :edit, but the idea should be clear by now If you think this is good method I'll add it

[2020-09-22 17:57] sigmaSd commented on #67
I pushed the changes I mentioned. Now I actually like the solution and the new command. I'll wait for your feedback before pushing this to master though.

[2020-09-22 21:08] fdncred commented on #67
ya, i compiled and ran in the `sync_edit` branch. things look good. i can code with `code-insiders` via the `:edit` command and then when i type `:sync` it replaces my code. nice!

[2020-09-22 21:31] sigmaSd commented on #67
cool! https://github.com/sigmaSd/IRust/pull/68

[2020-09-29 18:35] sigmaSd opened #70 "Check statements with cargo check"
The initial issue https://github.com/sigmaSd/IRust/issues/67

Currently we don't do any check if the input is a statement, this is so the repl feels fast for those operations at least.

But still its weird when errors only appears after using an expression.

I tested cargo check and it turns out its not that slow, so its ok to use it to check each statement,

Also this behaviour should be configur

[2020-10-11 08:57] sigmaSd commented on #70
@fdncred  I believe that https://github.com/sigmaSd/IRust/issues/67 is now correctly fixed.

[2020-10-11 08:57] #70 closed

[2020-11-29 17:15] sigmaSd commented on #42
I refactored here https://github.com/sigmaSd/IRust/pull/74 Printer is finally isolated and testable.

I think that the current abstraction level is nice.

Hopefully this will allow for easier testing and feature addition.

[2020-11-29 17:15] #42 closed

[2020-11-29 17:17] sigmaSd commented on #45
The refactor here https://github.com/sigmaSd/IRust/pull/74 isolated the printer struct.

It is now possible to test it, I added a couple of test to tests folder.

Hopefully future code will add tests to assert the current behaviour (now that it is possible to test)

[2020-11-29 17:17] #45 closed

[2021-03-08 06:37] D1mon opened #75 "how make irust works with nightly ? error: toolchain 'stable-x86_64-unknown-linux-gnu' is not installed"

[2021-03-08 08:57] sigmaSd commented on #75
Hello,

You can edit the configuration file https://github.com/sigmaSd/IRust#configuration `toolchain="nightly"`

Also you can while running irust use this command `:toolchain nightly` (it will edit the configuration)

[2021-03-08 11:43] D1mon commented on #75
Thanks

[2021-03-08 11:43] #75 closed

[2021-04-18 17:41] sigmaSd commented on #53
Currently adding support to this is pretty straightforward.

The only problem is that it might conflict with the new option of custom input_prompt since custom prompt is static while this feature is dynamic.

One solution would be to accept some simple scripting language, that allows a user function to be invoked on the prompt on each evaluation step.

[2021-04-19 13:46] sigmaSd commented on #53
Scripting was added in version `1.5.0`, see https://github.com/sigmaSd/IRust#scripts

The example provided handle this exact feature.

[2021-04-19 13:46] #53 closed

[2021-05-02 17:18] Boscop opened #77 "Using IRust for live scripting of a host"
Hi, thanks for making this :)
How hard would it be to make IRust useable for live scripting of a host, e.g. for music live coding in Rust?

It seems like this crate contains not only the Rust interpreter but also the code that deals with the console.
Would it be possible to use this crate as a lib and just use the interpreter part, and feed it as input the contents of a file which gets auto-reload

[2021-05-02 17:58] sigmaSd commented on #77
Hello,

Thanks for cheking this out!

IRust interpeter is just `println!("{}", expression)` for a real repl in this regard check out https://github.com/google/evcxr/ it has jupyter notrbook support which might be what you want

Basicly the idea behind IRust is instead of focusing on the interpeter (since its relly hard for a compiled language) it focus on the exprience Ipython like, also the advan

[2021-05-03 15:34] sigmaSd commented on #77
Now I give more thoughts I like the idea of splitting the interpreter in its own crate.

I imagnie the API will looks something like
[code]

The main logic is in two files https://github.com/sigmaSd/IRust/blob/master/src/irust/repl.rs https://github.com/sigmaSd/IRust/blob/master/src/irust/cargo_cmds.rs

[2021-05-03 16:43] sigmaSd commented on #77
Here is a prototype https://github.com/sigmaSd/IRust/tree/irust_repl

There is now a split crate `irust_repl` (The only required dependency for now is once_cell)

There are a lot of functions in the API due to how to IRust uses it, but for normal usage it would look something like:

[code]

For the interactive usage use case it would be something like
[code]

[2021-05-03 17:37] sigmaSd commented on #77
https://github.com/sigmaSd/IRust/pull/79

[2021-05-03 17:43] sigmaSd commented on #77
Btw the above interactive example is equivalant to using IRust `:load`/`:reload` commands

[2021-05-05 09:59] sigmaSd commented on #77
I evaluated the options and the one that seems the most convenient with IRust is using `:add $Path_to_project`

Here is a little guide https://sigmasd.github.io/irust_book/interactive-usage/

[2021-05-07 16:25] Aloxaf opened #82 "Custom keybindings?"
This project is cool!

Is there any plan to support custom keybindings?

[2021-05-07 17:02] sigmaSd commented on #82
Hello,

Thanks for checking this project out!

Yes, Adding custom keybindings support is a good idea, I imagine it will be supported via scripting, but for that to happens, a couple of changes are needed:

1- The handling of events here https://github.com/sigmaSd/IRust/blob/master/crates/irust/src/irust/events.rs should return a command instead of executing the code directly, (inspired by nushell)

[2021-05-09 02:45] Aloxaf commented on #82
Well, that's pretty good!

[2021-05-09 09:25] sigmaSd commented on #82
IRust version 1.9.0 now supports input event hook, feel free to check out the vim mode example https://github.com/sigmaSd/IRust/blob/master/scripts_examples/script2/input_event/src/main.rs

[2021-05-09 12:36] Aloxaf commented on #82
Thanks for your quick work!

I am trying to write an Emacs mode, and come across these problems:

1. Some command name not very intuitive. For example, `Eval` may be a better name compared to `HandleCtrlE`?
2. `GlobalVariables` is lack of something like current suggestion state (to use <kbd>enter</kbd> both for accept suggestions and accept-line) and current session id (to avoid state conflict bet

[2021-05-09 13:26] sigmaSd commented on #82
1- The names are just placeholder for now, they definitly need to change and be commented now they are part of the public api

2- I can add is_sugesstion_active to GlobalVariables and a AcceptSugesstion command to the api

For the session_id, currently all irust instances share the same underlying repl, for this to work some changes are needed before to irust_repl crate, do you think this is a goo

[2021-05-09 13:39] sigmaSd commented on #82
Also I want to add that Im still experimenting with scripting, my next idea is ( for scriptv3)

- Remove the binary names constraint
- At startup make IRust search script directory for any executable and run it, it should respond with what hooks its interested in and what is its execution type (oneshot/daemon)
- save its path and desired hooks in a map if its a oneshot / Run it if its a daemon and

[2021-05-09 14:47] Aloxaf commented on #82
I just mean to have an id (PID is enough) so that I can create a file like `/tmp/input_event_ID/mode`. Without this, if an instance enter normal mode, other instances will also enter normal mode.
Or let the script can run in daemon mode will also be OK.

The scriptv3 seems will solve this problem and improve performance, that's great!

[2021-05-09 16:49] sigmaSd commented on #82
For now I added  `pid` and `is_racer_suggestion_active` to Globals and `AcceptSuggestion` to Commands https://github.com/sigmaSd/IRust/commit/14c771c64c1ff06c2bd71b7a6feb1cd94ee5fc06

[2021-05-14 07:31] sigmaSd commented on #82
I added script v3 and a bunch of new commands, here is the new vim script https://github.com/sigmaSd/IRust/blob/master/scripts_examples/script3/irust_vim/src/main.rs

[2021-05-14 14:18] Aloxaf commented on #82
Nice!

I am implementing an Emacs keybinding based on script3 now: https://github.com/Aloxaf/IRust/blob/irust_emacs/scripts_examples/script3/irust_emacs/src/main.rs

[2021-05-14 16:48] sigmaSd commented on #82
Nice, Your emacs script is way more organized!

If you find that some important features/commands are missing, feel free to list them here so I can adress it when I can

[2021-05-18 08:09] sigmaSd commented on #82
I added a Pr for your emacs script https://github.com/Aloxaf/IRust/pull/1

I think I want to see if I can rework the script system so everything is guaranteed by the type system, since currently bug like this are easy to make and their manifestation are actually random.

[2021-05-18 12:45] Aloxaf commented on #82
Thanks!

That would be nice.

[2021-06-02 17:43] sigmaSd commented on #82
I added a section about keybindings here https://sigmasd.github.io/irust_book/custom-keybindings/

I tried adding more compile time guarantees but it was not straightforward, and made the scripting system weaker.

I think I'll just keep it like this for now and improve it Iteratively.

I'll close this issue for now since keybindings are possible, feel free to reopen it if something is missing or o

[2021-06-02 17:43] #82 closed

[2021-06-03 05:05] rljacobson commented on #77
@Boscop You might look into [Rune](https://rune-rs.github.io/book/foreword.html) or [Rhai](https://rhai.rs/book/about/index.html), both of which are Rust-like scripting languages designed for easy embedding into Rust programs.

[2021-07-04 07:03] sigmaSd commented on #77
I believe this can be closed now, feel free to reopen if needed.

[2021-07-04 07:03] #77 closed

[2021-08-10 14:36] AZMCode opened #85 "[Feature Request]: Support for `proc_macro` APIs"
Recently I've been trying to test some ideas for a `proc_macro` crate I'm building, and despite being able to load the `proc_macro` crate through the `extern crate proc_macro`, access to `proc_macro` APIs is followed by this error:
[code]

Perhaps there could be a command to enable or disable these APIs?

[2021-08-10 14:42] AZMCode opened #86 "[Feature Request]: Ability to load custom `Cargo.toml`"
To start with, implementation of this feature could solve #85 and possible other future errors.

It would be useful to test code for a crate to load the preexisting `Cargo.toml` file, possibly with various settings that could affect crate loading, such as the current crate being a `proc_macro` crate as described in the mentioned Issue, the features which a crate is loaded with, the `cargo-features

[2021-08-10 19:20] sigmaSd commented on #85
I implemented the idea, but after testing it, it feels underwhelming since proc-macro are compile-time you can't really interact with them in the repl.
You can test the code here https://github.com/sigmaSd/IRust/commit/0617d14b507e4ee102d58de919604ebc672f2ecd . The idea was to enable proc macros with `:proc_macro` and to switch between writing to `main.rs` and `lib.rs` using `:file {file}`

Like I

[2021-08-11 02:13] AZMCode commented on #85
Wait wait, I think we might be talking about different things here. What I at least intended to suggest in this specific issue was the ability to use the `proc_macro` API in irust (`TokenStream`, `TokenTree`, etc) to test out code for later use within a `proc_macro` crate. At least I tested the new version and had no luck getting it to work.

In any case, I'm not sure I fully understand the change

[2021-08-11 06:49] sigmaSd commented on #85
Here is how you can use the new commit

https://user-images.githubusercontent.com/22427111/128981841-7d69e1d6-5d40-4390-96af-c83efbfb1b0d.mp4

(note: to be able to write `#[proc_macro]fn ...` -> after writing `#[proc_macro]` you can use `alt+enter` to add a new line instead of evaluating the input)

But I see what you're trying to do, It would be nice if there was an ergonomic way to call proc_mac

[2021-08-16 00:48] AZMCode commented on #85
Cool! Do I close the issue or do you wish to keep improving the feature?

[2021-08-16 00:58] sigmaSd commented on #85
I prefer to keep the issue open till I figure it out, thanks!

[2022-01-08 08:33] NobodyXu opened #90 "Async repl not working properly"
During the async mode (I was using `tokio` runtime), no matter what I enters, `irust` just silently accepts them without printing any result, even for the most simple expression `1 + 2`.

[2022-01-08 10:04] sigmaSd commented on #90
Hello, that area indeed needs better error reporting

Usually to debug this, you can after inputing something to the repl and hitting enter, go to /tmp/irust_host_repl and run cargo r and it will show the error ( I suspect cargo add failed)

[2022-01-09 18:33] sigmaSd commented on #90
thanks for the bug report turns out it an actual issue, fixed in https://github.com/sigmaSd/IRust/commit/5de6c9f68c2e18bcb230b6f912d599f43e077f46

[2022-01-09 19:41] sigmaSd commented on #90
Actually I'll keep the issue open till next release

[2022-01-13 18:54] #90 closed

[2022-01-13 19:15] sigmaSd commented on #86
I can allow that, or just editing the toml file, with `:edit_cargo_toml` command, but I feel this should be an internal thing since messing up the toml file can easily mess the repl

I prefer to expose any feature needed via commands, so feel free to open issues with the feature you're missing

proc_macro is a good example since even manually messing with the toml file wont make it work

Btw `:add

[2022-01-13 19:15] #86 closed

[2022-01-14 03:54] NobodyXu commented on #90
Thank you so much for the quick response!

[2022-01-14 03:55] sigmaSd commented on #90
You're welcome!

[2022-01-18 07:13] NobodyXu opened #91 "irust v1.50.0 failed to compile"
[code]

[2022-01-18 07:21] sigmaSd commented on #91
Hello, irust now requires latest stable , rust 1.58

[2022-01-18 07:21] NobodyXu commented on #91
Thank you for the swift response!

[2022-01-18 07:21] #91 closed

[2022-02-05 05:13] Techcable opened #92 "Use `rust-analyser` instead of `racer` for autocompletion"
Hi! This looks like a cool project.

Have you considered using `rust-anlayser` for autocompletion instead of `racer`? In my experience, rust-anlayser has much better autocompletion than either racer or RLS.

The racer project isn't really actively maintained, and users are more likely to have rust-analyser installed than either RLS or racer.

As of [RFC 2912](https://github.com/rust-lang/rfcs/blob

[2022-02-05 07:20] sigmaSd commented on #92
Hello, thanks for checking out the project

It is of course on my radar, I don't believe I will have time for it though

Racer have some advantages worth mentioning:
- it requires no additional dependencies from irust side
- ra requires at least more then 100mb the first time it spawned then it will keep growing

I believe that ra support needs to be added sooner or later, the only immediate probl

[2022-08-04 22:33] AddictArts commented on #92
+1 racer is no longer in development as I'm sure you know. Also, it does not build anymore and using a nightly rustc is not a good experience.

[2022-08-05 06:08] sigmaSd commented on #92
If someone wants to take this I think https://github.com/helix-editor/helix/tree/master/helix-lsp is the easiest implementation to copy.

[2022-11-05 19:26] sigmaSd opened #101 "Add :cargo command"
Currently we have a lot of commands like :expand :asm that just wraps cargo plugins, I don't think its realistic to support all cargo plugins.

The user currently can use irust scripts for unimplemented commands but that seems to much work.

I propose adding `:cargo $args` command that just invokes `cargo` inside irust repl directory and forwards the user argument to it.
I think it should make thi

[2022-11-05 19:33] sigmaSd opened #102 "Add predefined themes"
Currently the user can tailor the theme to his liking by changing each item in theme.toml, but this doesn't allow predefined themes.

I propose translating to this themes structure:
[code]
where theme.toml contains the theme name which is located under themes, and each theme have the items configuration.

It's up to discussion what should happen when the user use :color command, maybe it should cr

[2022-11-06 17:39] sigmaSd opened #103 "Rework how irust server works"
IRust can spawn a server useful for editor plugins to send input, but its currently really tailored to a custom plugin I wrote https://github.com/sigmaSd/irust-vim-plugin

-> The server currently receives input from the client and run it on the repl

I think a better way is to make this a server that listens to input and then sends back the output to the client and the client gets to decide what i

[2022-11-07 08:32] light4 opened #104 "Use `rustyline` or `reedline` for input?"
https://crates.io/crates/rustyline
https://crates.io/crates/reedline

[2022-11-07 13:56] sigmaSd commented on #104
I think realistically using one of those 2 is the correct move, it will get rid of like 40% of the code and all the awkwardness in the code-base.

It was fun writing stuff from scratch but I think using a readline crate would make irust better

rustyline is solid but its maintained by a single person, reedline probably is what we want and it uses crossterm internally

The problem is reedline compa

[2022-11-11 17:41] #102 closed

[2022-11-14 18:45] sigmaSd opened #105 "Move theme settings from config.toml to themes config"
Many settings like these https://github.com/sigmaSd/IRust/blob/master/crates/irust/src/irust/options.rs#L11-L21 I think belongs to the themes config

I think its better to move them and the theme configuration would look something like
[code]

[2022-11-30 13:17] sigmaSd opened #108 "Add Jupyter kernel support"
### Discussed in https://github.com/sigmaSd/IRust/discussions/107

<div type='discussions-op-text'>

<sup>Originally posted by **baiguoname** November 30, 2022</sup>
Jupyter is amazing, can I use Irust in Jupyter, especially in vscode-jupyter.</div>